<h1 class='page-header'>Create a new sub</h1>
<%= render 'shared/errors' %>

<%= render "form", sub: @sub, action: :new %>

<% 
=begin %>
<div class="create-sub-main">
  <form action="<%= subs_url %>" method="post">
    <%= auth_token %>
    <div class="sub-input"> 
      <label for="sub-name">Name</label>
      <input id="sub-name" type="text" name="sub[name]" value="<%= @sub.title %>">

      <label for="sub-description">Description</label>
      <textarea name="sub[description]"><%= @sub.description %></textarea>

      <input type="submit" value="Submit">
    </div>
  </form>
</div>
<% 
=end %>