<h1> Cat's show page</h1>


<table>
  <thead>
    <tr>
      <th colspan="2"><h2><%= @cat.name %></h2></th>
    <tr>
  </thead>

  <tbody>
    <tr>
      <td><h3>ATTRIBUTE</h3></td>
      <td><h3>VALUE</h3></td>
    </tr>
    <tr>
      <td>AGE</td>
      <td><%= @cat.age %></td>
    </tr>
      <td>BIRTHDAY</td>
      <td><%= @cat.birth_date %></td>
    <tr>
      <td>COLOR</td>
      <td><%= @cat.color%></td>
    </tr>
    <tr>
      <td>SEX</td>
      <td><%= @cat.sex %></td>    
    </tr>
  </tbody>
</table>

<br>

<table>
  <h2>Rental Requests</h2>
  <tbody>
    <tr>
      <td><h3>Start Date</h3></td>
      <td><h3>End Date</h3></td>
      <td><h3>Status</h3></td>
    </tr>
    <tr>
      <% CatRentalRequest.all.order('start_date').each do |request| %>
        <tr>
        <% if request.cat_id == @cat.id %>
          <td> <%= request.start_date %> </td>
          <td> <%= request.end_date %> </td>
          <td> <%= request.status %> </td>
          <% if request.status == "PENDING" %>
            <td> 
              <%= button_to "Approve", 
                approve_cat_rental_request_url(request), 
                method: :approve %>
            </td>
            <td> 
              <%= button_to "Deny", 
                deny_cat_rental_request_url(request), 
                method: :deny %>
            </td>
          <% end %>
        <% end %>
        <tr>
      <% end %>
    </tr>
  </tbody>
</table>

<%= link_to "Make New Request", new_cat_rental_request_url %>
