<h1 class="page-header">
  <a href="<%= track_url(@track) %>"><%= @track.title %></a> &nbsp > Edit
</h1>
<%= render "shared/errors" %>

<%= render "form", track: @track, action: :edit %>

<% 
=begin %>
<form action="<%= track_url(@track) %>" method="post">
  <input type="hidden" name="_method" method="patch">
  <%= auth_token %>

  <label for="track-title">Title</label>
  <input id="track-title" type="text" name="track[title]" value="<%= @track.title %>">
  <br>

  <label for="track-album">Album</label>
  <select id="track-album" name="track[album_id]">
    <% Album.all.each do |album| %>
      <option value="<%= album.id %>" <%= "selected" if @track.album_id == album.id %>>
        <%= album.title %>
      </option>
    <% end %>
  </select>

  <label for="track-ord">Order
    <input type="number" name="track[ord]" value="<%= @track.ord %>">
  </label>

<label for="track-bonus-f">Standard</label>
<input id="track-bonus-f" type="radio" name="track[bonus]" value="f" 
  <%= "checked" if !@track.bonus%>>

<label for="track-bonus-t">Bonus</label>
<input id="track-bonus-t" type="radio" name="track[bonus]" value="t" 
  <%= "checked" if @track.bonus%>>

<label for="track-lyrics">Lyrics</label>
<textarea id="track-lyrics" name="track[lyrics]">
  <%= @track.lyrics %>
</textarea>

<input type="submit" value="Submit">
</form>
<% 
=end %>