<h1 class='page-header'>New Post!</h1>
<%= render 'shared/errors' %>

<%= render "form", post: @post, action: :new %>

<% 
=begin %>
<div class="create-post-main">
  <form action="<%= posts_url %>" method="post">
    <%= auth_token %>
    <div class="post-input"> 
      <label for="post-title">Title:</label>
      <input id="post-title" type="text" name="post[title]" value="<%= @post.title %>">

      <label for="post-url">URL:</label>
      <input id="post-url" type="text" name="post[url]" value="<%= @post.url %>">
      
      <label for="sub-content">Content:</label>
      <textarea name="sub[content]"><%= @post.content %></textarea>

      <input type="submit" value="Submit">
    </div>
  </form>
</div>
<% 
=end %>