<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if !current_user.nil? %> <%# if user is logged in, show logout button %>
      <h3>Logged in as: <%= current_user.username %></h3>
      <form action="<%= session_url %>" method="POST">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token%>">

        <input type="hidden" value="delete" name="_method">

        <input type="submit" value="Logout">
      </form>
    <% else %> <%# show login or signup button  %>
      <a href="<%= new_session_url %>">Login</a>
      <a href="<%= new_user_url %>">Signup</a>
    <% end %>

    <br>
    <a href="<%= cats_url() %>">Home</a>

    <%= yield %>
  </body>
</html>
