<% if action == :edit %>
  <% action_url = album_url(album) %>
<% else %>
  <% action_url = albums_url %>
<% end %>

<form class="album-form" action="<%= action_url %>" method="post">
  <div class="album-form-items">
    <% if action == :edit %>
      <input type="hidden" name="_method" value= "PATCH" >
    <% end %>
    <%= auth_token %>

    <p>
      <label for="album-title">Title</label>
      <input id="album-title" type="text" name="album[title]" value="<%= album.title %>">
    </p>

    <p>
      <label for="album-band">Band</label>
      <select id="album-band" name="album[band_id]">
        <% Band.all.each do |band| %>
          <option <%= "selected" if album.band_id == band.id %> value="<%= band.id %>">
            <%= band.name %>
          </option>
        <% end %>
      </select>
    </p>

    <p>
      <label for="album_live_t">Live</label>
      <input  id="album_live_t" type="radio" name="album[live]" value="t"
        <%= "checked" if album.live %>>

      <label for="album_live_f">Studio</label>
      <input id="album_live_f" type="radio" name="album[live]" value="f"
        <%= "checked" if !album.live %>>
    </p>

    <p>
      <label for="album-year">Year</label>
      <input id="album-year" type="number" name="album[year]" value="<%= album.year %>">
    </p>
  </div>
  
  <p id="album-form-submit-btn"><input type="submit" value="Submit"></p>
</form>